[submodule "src/yjs"]
	path = src/yjs
	url = https://github.com/yjs/yjs.git
[submodule "src/y-webrtc"]
	path = src/y-webrtc
	url = https://github.com/yjs/y-webrtc.git
[submodule "src/y-websocket"]
	path = src/y-websocket
	url = https://github.com/yjs/y-websocket.git
[submodule "src/y-indexeddb"]
	path = src/y-indexeddb
	url = https://github.com/yjs/y-indexeddb.git
[submodule "src/y-p2pt"]
	path = src/y-p2pt
	url = https://github.com/Weedshaker/y-p2pt.git
